.page {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  width: 100%;

}


main {
  display: flex;
  justify-content: center;
  width: 100%;
  text-align: center;
}

form {
  align-items: center;
  display: flex;
  justify-content: center;
}

img {
  border-radius: 10px;
}


.movies {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 10px;

}

article {
  padding: 0.7rem;
  border-radius: 10px;
  background-color: #18222e;
}

.title_movie {
  background-color: #202b38;
  border-radius: 10px;
  height: 80px;
  text-align: center;
  font-size: large;
  margin-bottom: 10px;
  color: rgb(196, 196, 204);
  padding: px;


  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

}

.search-group{
  display: flex;
}


.error::placeholder {
  color: #ff7676;
}

.main{
  background-color: #ff7676;
  width: 1000px;
}
